.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.sav
*.sps
*.spv
*.xls
*.xlsx
*.tmp
*.tpf
*.RDS
*.RData
cor_04_k20/*
cor_04_k62/*
cor_07_k20/*
cor_07_k62/*
frühere Bilder/*
Jackknife/*
20191218_103147.jpg
blaa.R
Datenerweiterung-Matching_andere_Versuche.R
EMA_FB_30MZP_each_Berechnungen.R
EMA-FB-Vergleiche_k1.R
FB_Stichprobenvergleiche_alt_mit_FB_random_2MZP.R
jpower-Output_Beispiel.pdf
KNN_falsch_FB_Stichprobenvergleiche_d0.99_alt_vor_FB_5MZP.RMD
KNN_falsch_FB_Stichprobenvergleiche_d0.99_backup.RMD
TODO.txt